fastapi
uvicorn
pymongo
pydantic
pydantic-settings
python-dotenv
python-dateutil==2.9.0.post0
passlib[bcrypt]
python-jose[cryptography]
cryptography
email-validator
bcrypt
openai

# Testing dependencies
mongomock
pytest
httpx
